<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/baseStyle.css"/>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div id="header">
            <p>DIVA</p>
        </div>

        <div id="asideLeft">
            <p>Left</p>
        </div>

        <div id="main">
            <p>Blogpost</p>
        </div>

        <div id="asideRight">
            <p>Right</p>
        </div>

        <div id="footer">
            Contact us
        </div>
    </div>
    <script src="scripts/homePage.js"></script>
</body>
</html>