<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/baseStyle.css"/>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div id="header">
            <h1>DIVA</h1>
        </div>

        <div id="asideLeft">
            <p>Left</p>
        </div>

        <div id="main">
            <p>Blogpost</p>
        </div>

        <div id="asideRight">
            <h2>Menu</h2>
            <dl>
                <dt>Category</dt>
                <dd>- blog post title</dd>
                <dt>Edit</dt>
                <dd><button id="edit">- New post</button></dd>
            </dl>
        </div>

        <div id="footer">
            Contact us
        </div>
    </div>
    <script src="scripts/homePage.js"></script>
</body>
</html>